{% extends 'layout.html' %}
{% block content %} 
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="row align-items-stretch w-50">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endwith %}
        <div class="d-grid gap-2">
            <a href="/create-agent" class="btn btn-primary" role="button">Create An Agent</a>
        </div>
        {% for agent in agentdb %}
        <div class="col-sm-6 mb-3 mb-sm-0 mt-3">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">{{ agent.name }}</h5>
                <p class="card-text">Click on the button if you are {{ agent.name }}</p>
                <a href="#" class="btn btn-primary">Start resolving queries</a>
              </div>
            </div>
        </div>
        {% endfor %}
      </div>
</div>
{% endblock %}