{% extends 'layout.html' %}
{% block content %} 
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="row align-items-stretch w-50">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">For Agents</h5>
                <p class="card-text">Click here to navigate to the agent portal.</p>
                <a href="{{ url_for('agents') }}" class="btn btn-primary">Agent</a>
            </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">For Customers</h5>
                <p class="card-text">Click here to start a conversation with us.</p>
                <a href="{{ url_for('create_room') }}" class="btn btn-primary">Customer</a>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
