{% extends 'layout.html' %}
{% block content %} 
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="row align-items-stretch w-50">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endwith %}
        {% for query in querydb %}
        <div class="col-sm-6 mb-3 mb-sm-0 mt-3">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">{{ query.query }}</h5>
                <p class="card-text">Query of level {{ query.level }}, asked at {{ query.date }}</p>
                <form method="POST">
                    <input type="hidden" name="code" value="{{ query.code }}">
                    <button type="submit" class="btn btn-primary">Resolve</button>
                </form>
              </div>
            </div>
        </div>
        {% endfor %}
      </div>
</div>
{% endblock %}
